:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  --color-white: #ffffff;
  --color-offwhite: #fcfcfc;
  --color-text: #001f3f;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color-text);
  background: var(--color-offwhite);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  color: var(--color-text);
}

a.button {
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 40px;
  color: var(--color-white);
  background: var(--color-text);
  display: block;
  margin: 40px 0 20px;
  font-weight: 600;
  text-decoration: none;
}

.dialog {
  border-radius: 50px;
  background: var(--color-white);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 50px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s var(--ease-in-out-circ);
  pointer-events: none;
  max-width: 400px;
  width: 100%;
}

.dialog.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.debug {
  background: red;
  position: fixed;
  transform: translate(-50%, -50%);
  opacity: 20%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.credit {
  font-size: 10px;
}

.debug .inner {
  background: blue;
  position: absolute;
  border-radius: 50%;
}

.click {
  cursor: pointer;
}
.hide {
  cursor: none;
}

.unsupported {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .unsupported {
    display: none;
  }
}
